<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/style/common.css">
  <link rel="stylesheet" href="../public/style/login.css">
  <title>Login</title>
</head>

<body>
  <header>
    <a href="/">
      <img src="../public/images/G.PNG" alt="LOGO">
      <span>TESTLAB</span>
    </a>
    <div class="login">
      <a href="/login">登入</a>
      <a href="/register">注册</a>
    </div>
    <div class="username">
        <span>用户名</span>
        <a class="loginout" href="/loginout">退出</a>
    </div>
  </header>
  <section>
    <h3>Login Info</h3>
    <form>
      <div>
        <label for="email">nickname</label>
        <input type="email" id="username" name="username" required>
        <span class="email-wrong">email invalid</span>
        <span class="email-right">email valid</span>
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <button type="submit" id="submit">提交</button>
        <a href="/register">need Account?</a>
      </div>
    </form>
  </section>
  <footer>
    &copy;2018.4 blues
  </footer>
  <script src="../public/js/login.js"></script>
  <script src="../public/js/common.js"></script>
</body>

</html>